img {
  height: auto;
  width: 500px;
}

body {
  background-color: pink;
}

body.lasagna {
  background-color: tomato;
}

.lasagna {
  /* This one has less priority */
  background-color: yellow;
}

.centered {
  text-align: center;
}

h1 {
  font-family: Georgia, serif;
  font-weight: 100;
}
